<meta charset="UTF-8">
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%- (overrides.description) ? overrides.description : `A start of the art banking app.` %>">
<meta property="og:image" content="/assets/icon.png" />
<meta name="theme-color" content="#E08742">

<title><%- (overrides.title) ? overrides.title : `AJNX Banking — ${name}` %></title>

<!-- Import CSS -->
<link rel="stylesheet" href="/assets/styles.css">
<link rel="stylesheet" href="/assets/error.css">