<div class="header">
  <h1>AJNX Banking</h1>
  <p class="sub-heading-special"><%=tagline%></p>
  <div class="navbar">
    <a href="/" class="nav-item" onclick="setActive(this)">Home</a>
    <span class="separator">•</span>
    <a href="/phpmyadmin" class="nav-item" onclick="setActive(this)">PHPMyAdmin</a>
  </div>
</div>