.error-container {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 20px auto;
    border: 2px solid red;
    background-color: #fdd;
    color: #a00;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close-error-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #a00;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.close-error-btn:hover {
    color: #700;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: red;
    transition: width 5s linear;
    border-radius: 0 0 5px 5px;
}
