<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { name: "Home", overrides: { title: `AJNX Banking — Home`, description: `A state of the art banking app.` } }); %>
</head>
<body>
  <%- include('../partials/header', { tagline: tagline }); %>
  <div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="closeModalBtn">&times;</span>
        <span id="modal-content-inner"></span>
    </div>
  </div>
  <div class="content">
      <h2><span class="circle">1</span> Welcome</h2>
      <p class="sub-heading">There isn't really much to do here.</p>
      <button onclick="window.location = '/phpMyAdmin'">PHPMyAdmin Panel</button>
  </div>
</div>

  <!-- Import Scripts -->
  <script src="/assets/main.js"></script>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</html>