<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { name: "Ratelimited", overrides: {} }); %>
</head>
<body>
  <%- include('../partials/header', { tagline: tagline }); %>
  <div class="content" style="justify-content: center;">
    <h2>Slow down!</h2>
    <p>What's the rush? Looks like you've been turbocharging through our servers. Our systems are taking a breather to catch up.</p>
    <p>Please slow down and try again in <strong><%=time%></strong>. In the mean
    time, enjoy a virtual cup of coffee and relax!</p>

    <button id="go-home" onclick="location.href='/';">Go Home</button>
  </div>

  <!-- Import Scripts -->
  <script src="/assets/index.js"></script>
</body>
</html>